@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap');

body {
    background: #eff4f9;
}

* {
    padding: 0;
    margin: 0;
}

.main {
    display: flex;
    flex-wrap: nowrap;
}

.sidebar {
    width: 260px;
    background: #373d50;
    height: 1000px;
}

.sidebar p {
    color: white;
}

#logo {
    background: white;
    width: 40%;
    height: 60px;
    text-align: center;
    font-size: 35px;
    border-bottom-right-radius: 50%;
    font-family: 'Lobster', cursive;
}

#logo span {
    color: red;
}

#logo-title {
    width: 40%;
    font-size: 18px;
    text-align: center;
}

.logo-content {
    display: flex;
}

.content {
    width: 100%;
}

.links {
    margin-top: 50px;
    width: 100%;
    text-align: center;
}

.links a {
    text-decoration: none;
    color: white;
    transition: 1s;
    font-size: 20px;
    font-family: 'Lobster', cursive;
    font-family: 'Roboto', sans-serif;
}

header span {
    font-family: 'Lobster', cursive;
    font-family: 'Roboto', sans-serif;
    color: #838080;
}

.links a:hover {
    color: blue;
    border-bottom: solid red 1px;
}

header {
    width: 100%;
    height: 80px;
    background: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header a {
    text-decoration: none;
    font-family: 'Lobster', cursive;
    font-family: 'Roboto', sans-serif;
    transition: 1s;
}

header a:hover {
    border-bottom: red solid 2px;
}

table {
    margin-top: 20px;
}

th {
    font-family: 'Lobster', cursive;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: #838080;
}

td {
    width: 200px;
    height: 50px;
    background: white;
    border-bottom: 1px solid;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: darkgrey;
}

.add {
    background: #00befe;
    color: white;
    width: 130px;
    height: 40px;
    border: 0;
    border-radius: 10%;
    cursor: pointer;
    position: relative;
    left: 300px;
    top: 30px;
}

.submit {
    background: #00befe;
    color: white;
    width: 130px;
    height: 40px;
    border: 0;
    border-radius: 10%;
    cursor: pointer;
}

.tableAndAttribute {
    display: flex;
    width: 100%;
    position: absolute;
}

.x {
    float: right;
    font-family: 'Lobster', cursive;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 30px;
    cursor: pointer;
}

.modal {
    width: 600px;
    min-height: 450px;
    background: #373d50;
    position: absolute;
    left: 50%;
    color: white;
    display: none;
}

.modal-title {
    font-family: 'Lobster', cursive;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 23px;
    text-align: center;
}

.modal-inputs {
    display: flex;
    flex-wrap: wrap;
}

.modal-inputs input, .modal-inputs label, select {
    font-family: 'Lobster', cursive;
    font-family: 'Roboto', sans-serif;
    height: 30px;
    width: 80%;
    border: 0;
    border-radius: 4px;
    margin-left: 20px;
}

.add-attribute {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0 20px 20px;
}

.add-attribute span {
    margin-top: 20px;
}

#attribute {
    padding-top: 10px;
    color: #070748;
    cursor: pointer;
}

.new-attribute {
    width: 100%;
}

.new-attribute input  {
    width: 100%;
    display: flex;
    font-size: 18px;
    height: 30px;
    border: 0;
    /*margin: 10px 0 20px 20px;*/
}
.attributes_name, .attributes_value {
    width: 40%;
    height: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.delete {
    width: 24px;
    height: 50px;
    display: flex;
    align-items: end;
}

.input-div {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 30px;
    margin: 20px 0 20px;
    justify-content: space-around;
}

.delete {
    cursor: pointer;
}
